<div class="jumbotron text-white bg-info">
  <h1 class="display-4"><%= title %></h1>
  <%= link_to 'Admin', {controller: 'sites', action: 'admin'}, :class => "btn btn-primary btn-md back-button" %>
</div>
